.club-logo{
    background-image: url("../Images/Chayanika/Chayanika.png");
}
/* .el:nth-child(1) .el__bg:before {
    background-image: url("../Images/ADC/ADC-1.jpg");
}
.el:nth-child(2) .el__bg:before {
    background-image: url("../Images/ADC/ADC-2.jpg");
}
.el:nth-child(3) .el__bg:before {
    background-image: url("../Images/ADc/ADC-3.jpg");
}
.el:nth-child(4) .el__bg:before {
    background-image: url("../Images/ADC/ADC-4.jpg");
} */
