.club-logo{
    background-image: url('../Images/FF/ff logo.jpeg');
}
.el:nth-child(1) .el__bg:before {
    background-image: url("../Images/FF/G1.jpeg");
}
.el:nth-child(2) .el__bg:before {
    background-image: url("../Images/FF/G2.jpeg");
}
.el:nth-child(3) .el__bg:before {
    background-image: url("../Images/FF/G3.jpeg");
}
.el:nth-child(4) .el__bg:before {
    background-image: url("../Images/FF/G4.jpeg");
}
