.club-logo{
    background-image: url('../Images/LCI/logo.jpg');
}
.el:nth-child(1) .el__bg:before {
    background-image: url("../Images/LCI/LCI-1.jpg");
}
.el:nth-child(2) .el__bg:before {
    background-image: url("../Images/LCI/LCI-2.jpg");
}
.el:nth-child(3) .el__bg:before {
    background-image: url("../Images/LCI/LCI-3.jpg");
}
.el:nth-child(4) .el__bg:before {
    background-image: url("../Images/LCI/LCI-5.jpg");
}
@media (min-width: 320px) and (max-width: 992px) { 
    .cen{
        justify-content: center !important;
    }
}