.club-logo{
    background-image: url('../Images/Mic.Drop/Mic.Drop.jfif');
}
.el:nth-child(1) .el__bg:before {
    background-image: url("../Images/Mic.Drop/Mic.Drop-1.jpg");
}
.el:nth-child(2) .el__bg:before {
    background-image: url("../Images/Mic.Drop/Mic.Drop-2.jpg");
}
.el:nth-child(3) .el__bg:before {
    background-image: url("../Images/Mic.Drop/Mic.Drop-3.jpg");
}
.el:nth-child(4) .el__bg:before {
    background-image: url("../Images/Mic.Drop/Mic.Drop-4.jpg");
}
@media (min-width: 320px) and (max-width: 992px) { 
    .cen{
        justify-content: center !important;
    }
}