.club-logo{
    background-image: url('../Images/WTC/wtc.jpeg');
}
.el:nth-child(1) .el__bg:before {
    background-image: url("../Images/WTC/wtc-1.jpg");
}
.el:nth-child(2) .el__bg:before {
    background-image: url("../Images/WTC/wtc-2.jpg");
}
.el:nth-child(3) .el__bg:before {
    background-image: url("../Images/WTC/wtc-3.jpg");
}
.el:nth-child(4) .el__bg:before {
    background-image: url("../Images/WTC/wtc-4.jpg");
}
